node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# PocketBase 
Backend/pb_data/
pb_data/
frontend/pb_data/
Backend/pocketbase

# SQLite 
*.db
*.db-wal
*.db-shm

# SvelteKit / Frontend 
frontend/.svelte-kit/
node_modules/